@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.colored-background {
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  filter: brightness(0.6);
  height: 100%;
  width: 100%;
  position: absolute;
}
.main-container {
  position: absolute;
  width: 70%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  background-image: radial-gradient(
    white,
    rgb(209, 209, 209),
    rgb(199, 197, 197),
    rgb(180, 179, 179)
  );
  box-shadow: 10px 10px 40px black;
}
.form-container {
  width: 40%;
  height: 100%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.form-container__bg-color {
  background-image: linear-gradient(
    to left top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  height: 100%;
  width: 100%;
  position: absolute;
}
.form-parent {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-text__form {
  font-family: "Poppins", sans-serif;
}
.sub-text__form {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
.sub-text__form span {
  text-decoration: none;
}
.form {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sub-form-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.single-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label {
  font-family: "Poppins";
  font-size: 12px;
  margin-right: 10px;
}
.input {
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
}
.gender {
  font-family: "Poppins";
  font-size: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.input:focus {
  outline: #5ffbf1;
}
.button {
  width: 70%;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  background-color: black;
  transition: 0.2s ease-in-out;
  color: white;
  box-shadow: 2px 3px 5px black;
  font-weight: 500;
  letter-spacing: 1px;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.356);
  color: black;
}
.image-container {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}
.image {
  width: 90%;
  height: 90%;
  object-fit: contain;
}
